@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@font-face {
  font-family: "marvelregular";
  src: url("./assets/fonts/marvelregular-dj83-webfont.woff2") format("woff2"),
    url("./assets/fonts/marvelregular-dj83-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  background: hsla(358, 85%, 52%, 1);
  background: radial-gradient(
    circle,
    hsla(358, 85%, 52%, 1) 0%,
    hsla(358, 98%, 19%, 1) 100%
  );
  background: -moz-radial-gradient(
    circle,
    hsla(358, 85%, 52%, 1) 0%,
    hsla(358, 98%, 19%, 1) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    hsla(358, 85%, 52%, 1) 0%,
    hsla(358, 98%, 19%, 1) 100%
  );
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#ED1D24", endColorstr="#600104", GradientType=1 );
}
/** connexion **/
.connexion {
  background-color: #222;
  color: rgb(230, 0, 0);
  padding: 1rem 7rem 1rem 9rem;
  justify-content: space-between;
}
.connexion > div {
  align-items: center;
  gap: 1rem;
}
.connexion > div:last-child {
  cursor: pointer;
}
.connexion > div:hover {
  color: #fff;
}
.connexion svg {
  font-size: 2.4rem;
}
img.avatar {
    max-height: 30px;
}
/** classes **/
button.key {
  background: linear-gradient(145deg, #dc2626, #991b1b);
  color: #fff4f3;
  padding: 2rem 4rem;
  position: relative;
  border: none;
  transform-origin: 50% 100%;
  cursor:pointer;
  transition: .3s ease;
}
button.key:hover {
    transform: translateY(5px) scale(0.95);
}
button.key::before,
button.key::after {
  content: "";
  position: absolute;
  display: block;
  transition: all 0.5s;
}
button.key::before {
  height: 100%;
  left: -14px;
  top: 0px;
  transform: skewY(-45deg);
  width: 15px;
  background: linear-gradient(268deg, #cf2020, #771414);
  transform-origin: 100% 50%;
}
button.key::after {
  bottom: -14px;
  height: 15px;
  right: 0;
  transform: skewX(-45deg);
  width: 100%;
  background: linear-gradient(180deg, #cf2020, #771414);
  transform-origin: 50% 0%;
}
button.key:hover::before {
    transform: skewY(-45deg) scaleX(0.6);
}
button.key:hover::after {
    transform: skewX(-45deg) scaleY(0.6);
}
/*** btn classique ***/
button {
  border:1px solid red;
  display: block;
  background-color: transparent;
  color: #fff;
  padding: 1.5rem 3rem;
}
button.showFavoris {
    cursor: pointer;
    transform: skewX(-5deg);
}
/**/
img.logo {
  max-height: 100px;
}
header {
  background-color: #fff4f3;
  padding: 3rem;
  box-shadow: 0 0 8px 4px #222;
}
header > .flexContainer {
  justify-content: center;
  align-items: center;
  padding: 0 3rem;
}
input[type="search"] {
  padding: 3rem;
  min-width: 400px;
  border: none;
  background-color: rgba(255 255 255, 0.6);
  border-bottom: 2px solid #cdcdcd;
  transform: skewX(-5deg);
  border-radius: 5px;
}
.completion {
    position: absolute;
    width: 100%;
    top: 80px;
    z-index: 20;
    background-color: #fff;
    padding: 1rem 1.5rem;
}
form.flexContainer:has(input[type="search"]) {
    position: relative;
}
.completion div {
    margin: 1rem;
}
@media (min-width:768px) {
  header > .flexContainer {
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem 0 6rem;
  }
  input[type="search"] {
    min-width: 500px;
  }
}
/***/
.navigation.flexContainer {
  position: relative;
  padding: 0 0 3rem 2rem;
  color: #fff;
  font-size: 2.4rem;
  gap: 4rem;
  justify-content: space-between;
  align-items:center;
  margin-bottom: 2rem;
}
.navigation.flexContainer h2 {
    margin: 1.8rem 0;
}
.navigation .item {
  position: relative;
  padding: 4rem;
  border-bottom: 1px solid;
  background: #fff4f3;
  clip-path: polygon(2% 0, 100% 0%, 100% 100%, 0% 100%);
  flex-basis: 50%;
  text-align: center;
  font-weight: bold;
  z-index: 10;
}
.navigation .item a {
  color: #444;
  display: flex;
  justify-content: center;
  transition: 0.4s ease;
}
.item svg {
    transform: rotate(-45deg);
    margin-left: 50px;
}
.navigation .item:hover a {
  transform:scale(1.05);
  color:#cf2020;
}
.shadow {
    position: absolute;
    width: calc(50% - 5px);
    height: calc(100% - 115px);
    background-color: #222;
    right: 0;
    top: 0;
    clip-path: polygon(2% 0, 100% 0%, 100% 100%, 0% 100%);
    filter: blur(30px);
}
div > div:has(.showFavoris) {
  display: flex;
  gap: 2rem;
  margin: 0 auto;
  align-self: center;
  order: 1;
}
@media (min-width:1024px) {
  .navigation.flexContainer {
    padding: 0 0 3rem 9rem;
    font-size: 3.6rem;
    gap: 4rem;
  }
  .navigation .item {
    flex-basis: 40%;
  }
  .shadow {
      width: calc(40% - 32px);
      height: calc(100% - 115px);
      filter: blur(30px);
  }
  div > div:has(.showFavoris) {
    gap: 2rem;
    margin: 0 auto;
    align-self: center;
    order: 1;
    flex-basis: 100%;
  }
}
@media (min-width:1280px) {
  .shadow {
      height: calc(100% - 2.4rem);
  }
  div > div:has(.showFavoris) {
    margin: 0 0 0 auto;
    order: 0;
    flex-basis: auto;
  }
}
/***/
section.flexContainer {
  gap: 6rem 2rem;
  padding: 0 6rem;
}
section.flexContainer h2 {
  margin: 4rem 0 0 4rem;
  color: #fff;
  font-size: 3.6rem;
  text-transform: uppercase;
}
section figure {
  overflow: hidden;
}
section figure img {
  object-fit: cover;
  width: calc(100% + 8px);
  height: 365px;
  object-position: left center;
  position: relative;
  clip-path: polygon(8% 0, 100% 0%, 92% 100%, 0% 100%);
  transition: 0.4s ease;
}
section article {
  position: relative;
  clip-path: polygon(8% 0, 100% 0%, 92% 100%, 0% 100%);
  border: 4px solid rgb(31, 0, 0);
  background-color: rgb(31, 0, 0);
  max-width: 341px;
  transition: 0.2s ease;
}
section div.blur {
  position: relative;
  max-width: 341px;
}
#comics .blur {
    width: calc(16.6667% - 2rem);
    display: flex;
}
section div.blur::before {
  content: "";
  display: block;
  left: 0%;
  width: 90%;
  position: absolute;
  height: 40%;
  background-color: rgba(255, 255, 255, 0.4);
  bottom: 0px;
  filter: blur(30px);
  transition: 0.4s ease;
}
section > div.blur:hover article {
  clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0% 100%);
}
section > div.blur:has(.card):hover::before {
  width: 95%;
  height: 100%;
  filter: blur(40px);
  background-color: rgba(255, 255, 255, 0.3);
}
section > div.blur:hover img {
  transform: scale(0.95);
  clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0% 100%);
}
section .card p {
  padding: 2rem 4rem 2rem 2rem;
  background-color: rgb(31, 0, 0);
  color: #fff;
  margin: 0;
  transition: 0.3s ease;
}
section > div.blur:hover p {
  transform: translateY(-10px);
}
section#characters.flexContainer > div.blur, section#comics.flexContainer > div.blur {
  flex: 1 1 50%;
}
@media (min-width: 1280px) {
  section#characters.flexContainer > div.blur, section#comics.flexContainer > div.blur {
    flex: 1 1 16.66667%;
  }
}
/** favoris **/
span.icon-favoris {
  cursor: pointer;
  position: absolute;
  text-align: center;
  right: 10px;
  top: 10px;
  width: 40px;
  height: 40px;
  line-height: 52px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  transition: 0.3s ease;
}
span.icon-favoris svg {
  stroke: #f7e70d;
  stroke-width: 1px;
  fill: transparent;
  font-size: 2.6rem;
}
span.icon-favoris.active svg {
  fill: #f7e70d;
}
div.blur:hover span.icon-favoris {
  right: 15px;
  top: 15px;
}
/****/
.pagination {
  padding: 4rem 9rem;
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  align-items: center;
  color: #fff;
}
.pagination button {
  padding: 1rem 2rem;
  background-color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}
.pagination button[disabled] {
  cursor: auto;
}
/*** popup favoris ***/
.contModalFav {
    position: fixed;
    background: radial-gradient(circle, rgb(111 3 3 / 71%) 0%, rgba(31, 2, 2, 1) 90%);
    width: 100%;
    height: 100%;
    top: 0;
    left:0;
    display: flex;
        z-index: 100;
}
.popupFav {
  background-color: #222;
  border-radius: 10px;
  font-size: 2rem;
  color: #fff;
  margin:auto;
  padding: 4rem 6rem;
  text-align: center;
}
.popupFav > div.flexContainer {
    justify-content: space-between;
}
.popupFav button {
  margin: 2rem 0;
}
